{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Concert Tickets</title>
    <!-- Load CSS styles -->
    <link rel="stylesheet" href="{% static 'ct/style.css' %}" />
    <!-- Load Roboto font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="background">
      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
      <div id="footer">
        <a class="me-3" href="">IMPRESSUM</a>
        <a class="me-3" href="">DATENSCHUTZERKLÄRUNG</a>
        <a href="agb">AGB</a>
      </div>
    </div>
  </body>
</html>
